$coloryellow : #FFC502;
$colorblue : #171197;

.cta{
    background-color: #d30832 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
   
    
}

.wrapper-div {
   
    .top-part {
        height: 80px;
        
        .name{
            
                    font-size: 1.25rem;
                    font-weight: 900;
                    color: $colorblue;
            
        }
        .ph-email {
            // background-color: $coloryellow;

            .phone {
                font-weight: 600;
                i{
                    color: #1B9CE3 !important;
                }
            }

            .email {
                font-weight: 600;
                i{
                    color: #1B9CE3 !important;
                }
            }
        }

        .social {
            // color: #fff;

        }
    }

    .navbar {
        background-color: #1B9CE3 !important;
        
        .container-fluid {


            .navbar {

                .container {

                    .navbar-brand {

                        img {}
                    }
                }
            }
        }
    }
    .hero-section{

        .typing{
        transform: translateY(-60%);
        font-family: monospace !important;
        font-size: 1.7rem;
        font-weight: 900;
        color: #1B9CE3 !important;
        }
        
        .typed-cursor {
            display: none;
        }
        
    }
    .services{
        h3{
            color: $colorblue;
            font-weight: 700;
        }
        .desc{
            color: #A9A9A9 !important;
            font-weight: 600;
        }
    .our-services{
        .row{
            .col{
                
                border-right: 1px solid #E9EBEF;
                height: 300px;
                i{
                    color: #1B9CE3;
                }
                h3{
                    color: #0D1128;
                }
                p{
                    color: #A9A9A9 !important;
                }
                
            }
            .col:hover{
                background-color: #1B9CE3 !important;
                i,h3,p{
                    color: #E9EBEF !important;
                }
            }
        }
    }
    
}
.footer-display{
    background-color: #F5F5F5;
    .contact{
        .icon-para{
            i{
                width: 20px;
            }
            
        }
    }
    .info{
        ul{
            li{
                list-style: none;
            }
        }
    }
    .account{
        @extend .info;
    }
    .cust-service{
        @extend .info;
    }
}


//footer box with 4 columns ends

//footer style starts
footer{
    p{
    background-color:#1B9CE3 ;
    color: white;
    }
}
}